<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>{{message}}</h4>
        <p>Use the search bar to select a location. Then, press the search button to get the forecast.</p>
    </div>
    {{>footer}}
</body>

</html>